<div class="outer">
     <h1 style="color:darkblue;padding-left: 25 0px;"> Profile</h1> 
    <div class="main-container">
        <img src="../../../assets/profilepicDummy.jpeg" style="width: 200px;height: 200px;border-radius: 50%;margin-left: 37%;margin-top: 5%;">
<div class="content">
    <div class="first">
      
        <div class="name">
            <h3>Name:</h3>
            <div class="data">
                <h4>{{name}}</h4> 

            </div>
          
        </div>
       
        <div class="band">
            <h3>Roll No:</h3>
            <div class="data">
                <h4>{{rollNo}}</h4> 

            </div>
        </div>
    </div>
    <div class="email">
        <h3>Email:</h3>
        <div class="data">
            <h4>{{email}}</h4> 

        </div>
       
    </div>
    <div class="contact">
        <h3>Contact Number:</h3>
        <div class="data">
            <h4>{{contact}}</h4> 

        </div>
       
    </div>
    
    <!-- <div class="first" style="padding-top: 5%;">
      
        <div class="name">
            <h3>Deloitte Employee Id:</h3>
            <div class="data">
                <h4>{{deloitte_id}}</h4> 

            </div>
          
        </div>
       
        <div class="band">
            <h3>HasedIn Employee Id:</h3>
            <div class="data">
                <h4>{{hasedIn_id}}</h4> 

            </div>
        </div>
    </div> -->
  
    <div class="first" style="padding-top: 13%;">
      
        <div class="name">
            <h3>Department:</h3>
            <div class="data">
                <h4>{{department}}</h4> 

            </div>
          
        </div>
       
        <div class="band">
            <h3>Team:</h3>
            <div class="data">
                <h4>{{team}}</h4> 

            </div>
        </div>
    </div>


    <!-- <div class="date">
        <h3>Date Of Joining:</h3>
        <div class="data">
            <h4>{{dateOfJoining}}</h4> 

        </div>
       
    </div>


 -->

















</div>
   </div>

</div>