<div class="allTrack-container">
    <div class="alltrack-heading-container">
        <div class="track-heading">
            <h1 style="color:darkblue"> <span style="color: black;">Intern / </span>Tracks</h1> 
        </div>
        <div >
             add track button for fte 
        </div>
    </div>

    
    <div class="alltrack-cards-container">
        <label for="alltrack-cards-container">All Available Tracks</label>
        <div class="cards-container">
            <div><app-card [id]="'1'" [category]="'track'"></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
        </div>
    </div>
</div>