<div class="main-container">
    <h1 style="color:darkblue"> DashBoard </h1> 
    
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'"  >
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/kiet.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/li.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/d3.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="about">
    <h3>About Us</h3>
    <p> DevGeek is an project management portal just like jira which enable collage,company to manage ongoing projects ,planning,workflow,resources,assign task to members and create task by leader .This portal has status update feature to track the time basis task before deadline by leader.So,it is a complete solution for project management in our collage fest like Innotech.</p>
  </div>
  <div class="team">
    <h3>Team Members</h3>
      
    <div class="all-cards-container">
     
      <div class="cards-container">
         <div>
          <article class="card">
            <img style="height:300px;width:250px; padding-left:35px"src="../../../assets/rup.png" alt="exposed brick wall in a hipster cafe">
            <!-- <h3>A good choice of cafe</h3> -->
            <h3 style="color:black;
              padding-left: 70px;
                margin-left:20px;
              text-shadow: 2px 2px 2px #CCCCCC;
              font-family: 'Trocchi', serif; font-size: 25px; font-weight: normal; line-height: 48px; ">Rupal Singh</h3>
              <h2 style="color:blue ;margin-left:86px ;margin-top:0px">1802913140-IT</h2>
          </article>
               </div> 
         <div>
          <article class="card">
            <img src="../../../assets/veenu.jpg" alt="exposed brick wall in a hipster cafe">
            <!-- <h3>A good choice of cafe</h3> -->
            <h3 style="color:black;
            padding-left: 70px;
              margin-left:18px;
              margin-right:30px;
            text-shadow: 2px 2px 2px #CCCCCC;
            font-family: 'Trocchi', serif; font-size: 25px; font-weight: normal; line-height: 48px; ">Veenu Singh</h3>
            <h2 style="color:blue ;margin-left:86px ;margin-top:0px;margin-right:20px">1802913182-IT</h2>
            
          </article>
        
        
  
  
          </div>
          
         </div>
  </div>
  
  </div>
   <div class="dis">
    <div class="about">
      <ul>
        <li>
          <h2>About Us</h2>
          
        </li>
      
          <li>
            <h2>INNOTECH</h2>
            
          </li>
          <li>
          <h2>Point of contact(POC) </h2>
        </li>
      </ul>
  
    </div>
    <div class="terms">
      <ul>
        <li>
          <h2>Terms & Condition</h2>
        </li>
        <li>
          <h2>Privacy</h2>
          <p style="color:white; font-size:16px ">Copywrite@ made by creative minds of KIET</p>
        </li>
       
      </ul>
    </div>
  <div class="contact">
    <ul>
      <li>
        <h2>
          Contact Us
        </h2>
      </li>
      <li>
        <h5>veenu.1822it1160@kiet.edu</h5>
      </li>
      <li>
        <h5>rupal.1822it1126@kiet.edu</h5>
      </li>
    
    </ul>
  </div> 
  
  
  
  
  
  
  
  </div>
  
  
  
  
