<!-- 

<button  class="btn btn-light b" (click)="trackTask()" style=" box-shadow: rgba(16, 131, 238, 0.24) 0px 3px 8px;width: 300px;margin-left: 95px;margin-top: 16px;">
    {{projectName}}
</button>
<button class="btn btn-light b" (click)="dis()" style=" box-shadow: rgba(16, 131, 238,0.24) 0px 3px 8px;width: 300px;margin-left: 40px;margin-top: 16px;">Discussion Forum</button>
<button class="btn btn-light b" (click)="members()" style=" box-shadow: rgba(16, 131, 238,0.24) 0px 3px 8px;width: 300px;margin-left: 40px;margin-top: 16px;">Point Of Contact</button>
<button class="btn btn-light b" (click)="pointOfContact()" style=" box-shadow: rgba(16, 131, 238,0.24) 0px 3px 8px;width: 300px;margin-left: 40px;margin-top: 16px;">Members</button> -->
<div  style="margin-top: 80px;">

   
   <div class="main-container">
    <!-- <h1 style="color:darkblue"> <span style="color: black;font-size: 19px;">Tracks / All Tracks / </span> Track Details</h1>  -->
     <div class="track-details">
      
        <div class="left">
      <strong> <span>Description</span>  </strong>  <br><br> 
     <p style="font-size: 17px;">{{projectDescription}}</p>
     <div class="a">
         <span ><strong>Duration Of Track:</strong> <h3 style="padding-top:15px;color:red">{{projectStartDate}} to {{projectEndDate}}</h3></span>
         
         <span style="padding-left:120px;"><strong>Team Leader:</strong><h3 style="padding-top:15px;">{{owner}}</h3></span>
         <span style="padding-left:120px;display: flex;">
           
             <form [formGroup]="memberForm" style="width: 300px;height: 130px;">
                <strong >Add Members in Project:</strong>
                 <ng-multiselect-dropdown   formControlName="members"  
                 [settings]="dropdownSettings"
                 [data]="dropdownList"
                 [placeholder]="'Select Members for Project' "
                
                 >
                
                 </ng-multiselect-dropdown>
                 
             </form>
             <button (click)="membersSubmit()" class="btn btn-primary" style="height: 35px;width: 130px;margin-left: 10px;margin-top: 36px;">Add Members</button>
          
         </span>
         <span style="padding-left:120px;">
            <strong>Create Task:</strong><br/>
             <button class="btn btn-warning" (click)="createTask()" style="margin-top: 15px;">Create Task</button>
         </span>
         
     </div>
     </div>
     
     <!-- <div class="right">
        <mat-form-field appearance="fill" class="members">
            <mat-label>Members</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Option 1</mat-option>
              <mat-option value="2">Option 2</mat-option>
              <mat-option value="3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
     </div> -->
     
     </div>
     <br/>
     
      <h2 style="margin-top: 110px;"> Tasks Assigned: </h2> 
     <div class="tab" style="width: 90%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <table class="table">
            <thead class="thead-dark" style="height: 50px;">
              <tr>
                <th>Feature Name</th>
                <th>Team Leader</th>
                <th>Assignee</th>
                <th>Priority</th>
                  <th>DeadLine</th>
                  <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let a of projectTasks | filter:f" style="height: 50px;border-bottom: 3px solid silver;">
                <td style="padding-top: 19px;"><strong>{{a.name}}</strong></td>
                <td style="padding-top: 19px;">{{owner}}</td>
                <td style="padding-top: 19px;">{{a.assignee_name}}</td>
                <td style="color:darkblue;padding-top: 19px;">{{a.priority}}</td>
                <td style="color: red;padding-top: 19px;">{{a.deadline}}</td>
                 <td>{{a.status}}</td> -->
                <!-- <td *ngIf="{{a.status}}=='Done'"><button class="btn btn-primary">{{a.status}}</button></td>
                <td *ngIf="{{a.status}}=='Doing'"><button class="btn btn-danger">{{a.status}}</button></td> -->
             <!-- <div [ngSwitch]="a.status" style="border-bottom: 1px solid silver;">
                 <td *ngSwitchCase="'Done'"><button class="btn btn-success" style="width: 100px;" (click)="changeText(a.id,a.status,a.assignee_name)">{{a.status}}</button></td>
                 <td *ngSwitchCase="'Doing'"><button class="btn btn-danger" style="width: 100px;" (click)="changeText(a.id,a.status,a.assignee_name)">{{a.status}}</button></td>
                 <td *ngSwitchCase="'To_do'"><button class="btn btn-warning" style="width: 100px;" (click)="changeText(a.id,a.status,a.assignee_name)">TO DO</button></td>
             </div> -->
            <!-- <td><button class="btn btn-primary" (click)="editTask(a.id)" style="width: 90px;">Edit</button></td>
             -->
          <!--</tr>-->  
              
            </tbody>
          </table>
      <!-- <div *ngFor="let a of trackTasks"><app-card [id]="a.id" [category]="'track-task-details'" [trackId]="trackId" [name]="a.name" [description]="a.description"  [date]="a.deadline" [imageUrl]="a.image_url" ></app-card></div>
      -->
  </div>

</div>

</div>
