<div class="main-container">
    <h1 style="color:darkblue"> <span style="color: black;font-size: 19px;">Projects / All Projects / </span> Project Details</h1> 
     <div class="track-details">
      
        <div class="left">
     <strong> <span>DevGeek</span>  </strong>  <br><br>
     <p>Join with us to manage your project in simple and quick way</p>
     <div class="a">
         <span ><strong>End Date:</strong> <h3>8/04/2022</h3></span>
         <span style="padding-left:220px"><strong>Assignee:</strong><h3>Pragya</h3></span>
         
     </div>
     </div>
     
     <div class="right">
        <mat-form-field appearance="fill" class="members">
            <mat-label>Members</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Option 1</mat-option>
              <mat-option value="2">Option 2</mat-option>
              <mat-option value="3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
     </div>
     
     </div>
     <div class="task">
       <div class="todo">
         <h2 style="padding-left: 180px;">TODO</h2>
<ul>
  <li><app-card [typ]="'projectTask1'"></app-card></li>
 
</ul>
       </div>
       <div class="processing">
        <h2 style="padding-left: 45%;">Processing</h2>
        <ul>
          <li><app-card [typ]="'projectTask2'"></app-card></li>
         
        </ul>
       </div>
<div class="completed">
  <h2 style="padding-left: 180px;">Completed</h2>
  <ul>

   
  </ul>
</div>


     </div>

</div>

